html {
    font-family: arial;
    font-size: 22px;
    padding: 0 4em;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

* {
    border: solid red 1px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.modal-left {
    max-width: 600px;
}

.modal-2col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-right {
    flex: auto;
    max-width: 50%;
}

h1 {

}

h2 {
    
}

h3 {
    
}

a {

}

img {

}

button {

}

