html {
    font-family: arial;
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header,
#footer,
.side-padding {
    padding-left: 16.66%;
    padding-right: 16.66%;
}

.up-padding {
    padding-top: 2em;
}

.down-padding {
    padding-bottom: 4em;
}

.padded {
    padding: 1em;
}

.padding-side-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.vertical-padding-sm {
    padding-top: 1em;
    padding-bottom: 1em;
}

.button-padding {
    padding: 1em 3em;
}

.bg-1F2937 {
    background:#1F2937
}

.bg-3882F6 {
    background: #3882F6;
}

.bg-E5E7EB {
    background: #E5E7EB;
}

.bg-6d747d {
    background: #6d747d;
}

.flex,
.rows,
.columns {
    display: flex
}

.rows {
    flex-direction: column;
}

.columns {
    flex-direction: row;
}

.justify-space-between {
    justify-content: space-between;
}

.main-image{
    width:100%;
    height: auto;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.gap {
    gap:1em;
}

.margin-none {
    margin: 0px;
}

.list-style-type-none {
    list-style-type: none;
}

.font-italic {
    font-style: italic;
}

.font-18 {
    font-size:18px;
}

.font-36 {
    font-size: 36px;
}

.font-48 {
    font-size: 48px;
}

.font-24 {
    font-size:24px;
}

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.color-F9FAF8 {
    color: #F9FAF8;
}

.color-E5E7EB {
    color: #E5E7EB;
}

.color-E5E6EB {
    color: #E5E6EB;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.color-1F2937 {
    color: #1F2937;
}

.justify-center {
    justify-content: center;
}

.align-self-right {
    align-self: flex-end;
}

.align-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.round {
    border-radius: 10px;
}

.border-F9FAF8 {
    border: solid #F9FAF8 3px;
}

.border-3882F6 {
    border: solid #3882F6 4px;
}

.gallery-item {
    justify-content: center;
    align-items: center;
    height: 175px;
    width: 175px;
    border-radius: 12%;
    border: solid #3882F6 4px;
}

.gallery-descr {
    width: 200px;
    text-align: center;
    padding-top: 0.5em;
}

x* {
    border: solid red 1px;
}

