html {
    font-family: arial;
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header,
#footer {
    padding: 0 10%
}

.side-padding {
    padding-left: 10%;
    padding-right: 10%;
}

.up-padding {
    padding-top: 2em;
}

.down-padding {
    padding-bottom: 4em;
}

.bg-1F2937 {
    background:#1F2937
}

.bg-3882F6 {
    background: #3882F6;
}

.bold {
    font-weight: bold;
}

.padded {
    padding: 1em;
}

.rows,
.columns {
    display: flex
}

.rows {
    flex-direction: column;
}

.columns {
    flex-direction: row;
}

.justify-space-between {
    justify-content: space-between;
}

.main-image{
    width:300px;
    height:150px;
}

.padding-side-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.margin-none {
    margin: 0px;
}

.list-style-type-none {
    list-style-type: none;
}

.font-italic {
    font-style: italic;
}
.
.font-36 {
    font-size: 36px;
}

.font-48 {
    font-size: 48px;
}

.font-18 {
    font-size:18px;
}

.font-24 {
    font-size:24px;
}

.font-bolder {
    font-weight: bolder;
}

.color-F9FAF8 {
    color: #F9FAF8;
}

.color-E5E7EB {
    color: #E5E7EB;
}

.bg-E5E7EB {
    background: #E5E7EB;
}

.color-1F2937 {
    color: #1F2937;
}

.align-self-right {
    align-self: flex-end;
}

.font-bold {
    font-weight: bold;
}

.justify-center {
    justify-content: center;
}

.vertical-padding-sm {
    padding-top: 1em;
    padding-bottom: 1em;
}

.align-center {
    align-items: center;
}

.round {
    border-radius: 12%;
}

.border-3882F6 {
    border: solid #3882F6 4px;
}

.gallery-item {
    border-radius: 12%;
    border: solid #3882F6 4px;
}

z* {
    border: solid red 1px;
}

